// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #11c1f3,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);

$text-color: #FFF;
$background-color: #222;

h1, h2, h3 ,h4, h5, h6 {
  color: #11c1f3;
}

.text-input {
  background: lighten(#222, 30%)!important;
  padding: 10px!important;
}

$card-ios-header-color: #FFF;
$card-md-header-color: #FFF;
$card-ios-background-color: #333;

$searchbar-ios-padding-vertical: 1rem;
$searchbar-ios-background-color: #444;

$searchbar-md-padding-vertical: 1rem;
$searchbar-md-background-color: #444;

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

$list-ios-border-color: transparent;
$list-background-color: transparent;
$list-md-border-color: transparent;

$item-ios-detail-push-color: #FFF;
$item-md-detail-push-color: #FFF;

$toolbar-background: color($colors, primary);
$tabs-background: color($colors, primary);

$tabs-tab-color-active: #FFF;
$tabs-tab-color-inactive: lighten(#11c1f3, 30%);

.item-ios, .item-md {
  &.activated {
    background-color: lighten(#222, 15%)!important;
  }
}

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";

// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
